@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Colors */

  /* Primary */

  --Blue: #5847eb;
  --Light-red: #ff8c66;
  /*  (work) */
  --Soft-blue: #56c2e6;
  /* (play) */
  --Light-red: #ff5c7c;
  /* (study) */
  --Lime-green: #4acf81;
  /* (exercise) */
  --Violet: #7536d3;
  /* (social) */
  --Soft-orange: #f1c65b;
  /* (self care) */

  /* Neutral */

  --Very-dark-blue: #0f1424;
  --Dark-blue: #1c1f4a;
  --Desaturated-blue: #6f76c8;
  --Pale-Blue: #bdc1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
  background: var(--Very-dark-blue);
}

.container {
  padding: 5rem 2rem;
  display: grid;
  justify-items: center;
}

/* Name Card */
.nameCardContent {
  background: var(--Dark-blue);
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  height: 17rem;

}

.nameCardContentAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Blue);
  gap: 1.5rem;
  height: 65%;
  border-radius: 1rem;
}

.nameCardContentAvatar img {
  width: 6rem;
  border-radius: 50%;
  border: .2rem solid var(--Pale-Blue);
}

.nameCardContentAvatar p span:nth-child(1) {
  color: var(--Desaturated-blue);
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}

.nameCardContentAvatar p span:nth-child(2) {
  color: var(--Pale-Blue);
  display: block;
  font-size: 2rem;
  font-weight: 400;
}
.nameCardContentLinks{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
}
.nameCardContentLinks ul {
  display: flex;
  justify-content: space-evenly;
  color: var(--Pale-Blue);
  width: 100%;
  list-style: none;
  font-size: 1.4rem;
}
.dislable{
  text-decoration: none;
  color: var(--Desaturated-blue);
  font-size: 1.6rem;
}
.active{
  text-decoration: none;
  color: var(--Pale-Blue);
  font-size: 1.8rem;
}

h1{
  color: red;
}

/* Cards */
.cardsContainer{
  width: 100%;
  margin-top: 4rem;
}
.cardsContent {
  /* background: lightcyan; */
  position: relative;
  overflow: hidden;
  height: 15rem;
  border-radius: 2rem;
  padding-top: 4rem;
  box-shadow: 0 0 .5rem #ffffff;
}
.cardsContent .cardIcon{
  position: absolute;
  top: 0;
  right: 1.5rem;
  z-index: 1;
}
.cardsContent .cardsInfo{
  background: var(--Dark-blue);
  height: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
}
.cardsInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.cardsInfo div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardsInfo div:nth-child(1) h3{
  color: var(--Pale-Blue);
  font-weight: 600;
  font-size: 1.6rem;
}
.cardsInfo div:nth-child(2) p:nth-child(1){
  color: var(--Pale-Blue);
  font-weight: 300;
  font-size: 2.5rem;
}
.cardsInfo div:nth-child(2) p:nth-child(2){
  color: var(--Pale-Blue);
  font-weight: 300;
  font-size: 1.4rem;
}